html {
    box-sizing: border-box;
}
*:before,
*::after {
    box-sizing: inherit;
}

.projects-container {
    margin: auto;
    margin-left: 42%;
    margin-right: 3%;
    margin-top: 3%;
    width: 55%;
    height: 70%;
    border-radius: 10px;
}

.project {
    display: inline-block;
    width: 49%;
    height: 49%;
    padding: 0;
    border-radius: 10px;
    margin-left: 1%;
    margin-bottom: 1%;
    background: rgba(0, 0, 0, 0.73);
    overflow: hidden;
}

.project img {
    padding-top:2%;
    padding-left: 5%;
    display: block;
    width: 90%;
    height: 70%;  
}

.project p {
    color: white;
    text-align: center;
    margin: 0;
    margin-top: 5%;
    margin-bottom: 3%;
}

.project span {
    color: yellow;
}

.anchor {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    color: white;
}

.anchor:hover {
    background-color: #F8DC3D;
}

@media all and (max-width: 1280px) {
    .projects-container {
        margin: unset;
        width: 80%;
        height: 80vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
    }
    .project p {
        font-size: 12px;
    }

    .anchor {
        font-size: 8px;
    }
}

@media all and (max-width: 970px) {
    .project p {
        font-size: 10px;
    }

    .anchor {
        font-size: 6px;
    }
}

@media all and (min-width: 480px) and (max-width: 800px) {
    .project p {
        margin: 0;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 12px;
    }

    .anchor {
        margin: 0;
        font-size: 12px;
    }    
}

@media all and (max-width: 650px) {
    .projects-container {
        margin-top: 50px;
    }

    .project {
        width: 100%;
    }

    .project img {
        margin: auto;
        padding: 0;
    }

    .project p {
        margin: 0;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 12px;
    }

    .anchor {
        margin: 0;
        font-size: 12px;
    } 
}