    <div class="projects-container">
        <div class="project">
            <div class="inside">
                <img src="./assets/RiseOfRA-simpleProject.png" alt="">
                <p>Rise of Ra (Javascript)</p>
                <a class="anchor" href="https://github.com/monirudashki/My-project---Rise-of-Ra">https://github.com/monirudashki/My-project---Rise-of-Ra</a>
            </div>
        </div>
        <div class="project">
            <div class="inside">
                <img src="./assets/wild-deuces-simpleProject.png" alt="">
                <p>Wild Deuces Game (Javascript)</p>
                <a class="anchor" href="https://github.com/monirudashki/wild-deuces-project">https://github.com/monirudashki/wild-deuces-project</a>
            </div>
        </div>
        <div class="project">
            <div class="inside">
                <img src="./assets/byciclesProject.png" alt="">
                <p>Bicycles Project - (Express JS , Handlebars)</p>
                <a class="anchor" href="https://github.com/monirudashki/bicycle-Express-handlebars">https://github.com/monirudashki/bicycle-Express-handlebars</a>
            </div>
        </div>
        <div class="project">
            <div class="inside">
                <img src="./assets/baby-stroller-project.png" alt="">
                <p>Baby Strollers (Angular, Node JS)</p>
                <a class="anchor" href="https://github.com/monirudashki/ng-babyStroller-projectDefence">https://github.com/monirudashki/ng-babyStroller-projectDefence</a>
            </div>
        </div>
    </div>
