.projects-container {
    display: inline-block;
    width: 50%;
    height: 80%;
    position: absolute;
    top: 11%;
    right: 6%;
    background: rgba(0, 0, 0, 0.73);
    border-radius: 10px;
}

.project {
    margin-top: 1%;
    display: inline-block;
    width: 49%;
    height: 49%;
}

.inside {
    display: block;
    margin: auto;
    width: 80%;
    height: 95%;
    color: white;
}

.inside img {
    width: 100%;
    height: 70%;  
}

.inside p {
    font-size: 15px;
    text-align: center;
}

.anchor {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 9px;
    border-radius: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.50);
}

.anchor:hover {
    background-color: #F8DC3D;
}

@media all and (max-width: 480px) {
    .projects-container {
        width: 90%;
        height:60%;
        right: 4.8%;
        margin-top: 14%;
    }

    .project {
        margin-top: 10px;
        height: 45%;
    }
    
    .inside {
        width: 95%;
        height: 60%;
    }
    .inside p {
        font-size: 5px;
    }

    .anchor {
        font-size: 4px;
    }
}