<div class="projects-container">
    <div class="project">

        <img src="./assets/game flags running.png" alt="">
        <p><span>Title:</span> World Quiz Games - React</p>
        <a class="anchor"
            href="https://github.com/monirudashki/world-quiz-react">https://github.com/monirudashki/world-quiz-react</a>
    </div>
    <div class="project">

        <img src="./assets/books-react-redux.png" alt="">
        <p><span>Title:</span> Books Library - React Redux</p>
        <a class="anchor"
            href="https://github.com/monirudashki/books-react-redux">https://github.com/monirudashki/books-react-redux</a>

    </div>
    <div class="project">

        <img src="./assets/byciclesProject.png" alt="">
        <p><span>Title:</span> Bicycles Project - (Express JS , Handlebars)</p>
        <a class="anchor"
            href="https://github.com/monirudashki/bicycle-Express-handlebars">https://github.com/monirudashki/bicycle-Express-handlebars</a>

    </div>
    <div class="project">
        <img src="../../../../assets/babystroller.png" alt="">
        <p><span>Title:</span> Baby Strollers (Angular, Node JS)</p>
        <a class="anchor"
            href="https://github.com/monirudashki/ng-babyStroller-projectDefence">https://github.com/monirudashki/ng-babyStroller-projectDefence</a>
    </div>
</div>