<div class="projects-container">
    <div class="project">

        <img src="./assets/RiseOfRA-simpleProject.png" alt="">
        <p><span>Title:</span> Rise of Ra (Javascript)</p>
        <a class="anchor" href="https://github.com/monirudashki/My-project---Rise-of-Ra">https://github.com/monirudashki/My-project---Rise-of-Ra</a>
    </div>
    <div class="project">

        <img src="./assets/wild-deuces-simpleProject.png" alt="">
        <p><span>Title:</span> Wild Deuces Game (Javascript)</p>
        <a class="anchor" href="https://github.com/monirudashki/wild-deuces-project">https://github.com/monirudashki/wild-deuces-project</a>

    </div>
    <div class="project">

        <img src="./assets/byciclesProject.png" alt="">
        <p><span>Title:</span> Bicycles Project - (Express JS , Handlebars)</p>
        <a class="anchor" href="https://github.com/monirudashki/bicycle-Express-handlebars">https://github.com/monirudashki/bicycle-Express-handlebars</a>

    </div>
    <div class="project">
        <img src="../../../../assets/babystroller.png" alt="">
        <p><span>Title:</span> Baby Strollers (Angular, Node JS)</p>
        <a class="anchor" href="https://github.com/monirudashki/ng-babyStroller-projectDefence">https://github.com/monirudashki/ng-babyStroller-projectDefence</a>
    </div>
</div>