header {
    width: 100%;
    height: 5.8vh;
}

nav {
    margin: auto;
    width: 100%;
    height: 5.8vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
}

a {
    display: block;
    color: white;
    padding: 22px 40px;
    text-decoration: none;
    background-color: black;
}

li a:hover {
    background-color: #F8DC3D;
}

.active {
    background-color: #F8DC3D;
    color: black;
}

.language {
    display: inline;
    float: right;
    margin-right: 0.5%;
}

#en {
    margin-top: 13%;
    width: 45%;
    height: 40px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}


#bg {
    margin-top: 13%;
    width: 45%;
    height: 40px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.language button:hover {
    background-color: #F8DC3D;
}

@media all and (max-width: 480px) {
    a {
        font-size: 4px;
        padding: 15px 10px;
    }

    #en {
        width: 40%;
        height: 15px;
        font-size: 4px;
    }

    #bg {
        width: 40%;
        height: 15px;
        font-size: 4px;
    }

    .language {
        margin-right: 0;
        margin-top: 1%;
    }
}