header {
    display: flex;
    width: 100%;
    background-color: black; 
}

nav {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
}

ul {
    display: flex;
    width: 100vw;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
}

li {
    display: flex;
    align-items: flex-start;
}

a {
    display: flex;
    color: white;
    padding: 22px 40px;
    text-decoration: none;
    background-color: black;
}

li a:hover {
    background-color: #F8DC3D;
}

.active {
    background-color: #F8DC3D;
    color: black;
}

#en {
    padding: 1px 1px;
    text-align: center;
    width: 3%;
    font-size: 1.5vw;
}


#bg {
    padding: 1px 1px;
    text-align: center;
    width: 3%;
    font-size: 1.5vw;
    margin-right: 2%;
}

.language button:hover {
    background-color: #F8DC3D;
}

@media all and (min-width: 480px) and (max-width: 801px) {
    a {
        font-size: 15px;
        padding: 15px 10px;
    }
}

@media all and (max-width: 480px) {
    a {
        font-size: 7px;
        padding: 15px 10px;
    }
}