.grid-container {
    display: grid;
    height: 80vh;
    margin-left: 42%;
    margin-top: 3%;
    margin-right: 3%;
    gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:
        'picture picture info info'
        'picture picture info info'
        'skills skills skills skills';
}

.grid-container>* {
    background-color: rgba(0, 0, 0, 0.73);
    border-radius: 10px;
}

.grid-container .grid-item-picture {
    grid-area: picture;
}

img {
    width: 100%;
    height: 100%;
    padding: 5%;
    object-fit: cover;
}

.grid-container .grid-item-info {
    grid-area: info;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.grid-item-info p {
    font-size: 1vw;
    text-align: center;
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    background-color: white;
}

.grid-container .grid-item-skills {
    grid-area: skills;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.one {
    text-align: center;
}

.grid-item-skills p {
    font-size: 0.85vw;
    margin: 2%;
    margin-top: 3%;
    border-radius: 5px;
    background-color: white;
}

.grid-item-skills span {
    color: #C34A36
}

.grid-item-skills .soft-skills {
    color: #0081CF;
}

@media all and (max-width: 1280px) {
    .grid-item-skills p {
        font-size: 15px;
    }

    .grid-item-info p {
        font-size: 1rem;
    }
}

@media all and (max-width: 1060px) {
    .grid-item-skills p {
        font-size: 12px;
    }

    .grid-item-info p {
        font-size: 12px;
    }
}

@media all and (min-width: 480px) and (max-width: 800px) {
    .grid-container {
        margin: 5% 5%;
    }

    .grid-item-info p {
        font-size: 15px;
    }

    .grid-item-skills p {
        font-size: 12px;
    }
}

@media all and (max-width: 490px) {
    .grid-container {
        margin: 5% 5%;
    }

    .grid-item-info p {
        font-size: 10px;
    }

    .grid-item-skills p {
        font-size: 8px;
    }
}

@media all and (max-height: 700px) and (orientation: landscape) {
    .grid-container {
        margin-top: unset;
        margin-top: 1%;
        height: 70vh;
    }
}