<div class="about-container">
    <div class="picture-info">
       <div class="picture">
          <img src="./assets/244595434_564770264609242_7417623731233400896_n.jpg" alt="">
       </div>

       <div class="info">
          <ng-container *ngIf="(language$ | async) == 'en'">
              <p><strong>Name: </strong><span>Simeon Borislavov Rudashki</span></p>
              <p><strong>Birth: </strong><span>11.02.1990</span></p>
              <p> <strong>Town: </strong><span>Pleven</span></p>
              <p><strong>Education:</strong> <span>Bachelor , Master SA D.C Svishtov - Finance</span></p>
              <p><strong>Previous Works:</strong> <span><br>-2006-2013 Professional football player <br>-2013-2017 Own business <br>-2018-2022 Commercial agent</span></p>
          </ng-container>

          <ng-container *ngIf="(language$ | async) == 'bg'">
              <p><strong>Име: </strong><span>Симеон Бориславов Рудашки</span></p>
              <p><strong>Дата на Раждане: </strong><span>11.02.1990</span></p>
              <p><strong>Град: </strong><span>Плевен</span></p>
              <p><strong>Образование:</strong> <span>Бакалавър , Магистър СА Д.А Свишов - Финанси</span></p>
              <p><strong>Стаж:</strong> <span><br>-2006-2013 Професионален футболист <br>-2013-2017 Собствен бизнес <br>-2018-2022 Търговски-представител</span></p>
          </ng-container>
       </div>
    </div>

    <div class="programing">
        <p *ngIf="(language$ | async) == 'en'" class="one"> <strong>Programming Education and Skills:</strong> <br>
            I'm studying javascript language in Softuni. I have pass four steps, now i'm on five - front-end with react , my knowledge are javascript,typescript,JSON,html,css,angular,RxJS,noSQL,node.js,mongoDB <br>
            I learn quick and program with pleased.Looking for start job or experience in front-end development.
        </p>

        <p *ngIf="(language$ | async) == 'bg'" class="one"> <strong>Обучение и умения:</strong> <br>
            Изучавам javascript в Softuni.Преминах 4 стъпки, сега съм на 5-та front-end with react, имам познания в javascript,typescript,JSON,html,css,angular,RxJS,noSQL,node.js,mongoDB <br>
            Уча сравнително бързо и програмирам с удоволствие.Справям се добре в екип.Търся възможност за работа на стартираща позиция или стаж.
        </p>
    </div>
</div>
