html {
    box-sizing: border-box;
}
*:before,
*::after {
    box-sizing: inherit;
}

.grid-container {
    display: grid;
    height: 80vh;
    margin-left: 42%;
    margin-top: 3%;
    margin-right: 3%;
    gap: 2%;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    grid-template-areas: 
    'picture picture info info'
    'picture picture info info'
    'skills skills skills skills';
}

.grid-container > * {
    background-color: rgba(0, 0, 0, 0.73);
    border-radius: 10px;
}

.grid-container .grid-item-picture {
    grid-area: picture;
}

img {
    width: 90%;
    height: 90%;
    padding: 5%;
    object-fit: cover;
}

.grid-container .grid-item-info {
    grid-area: info;
    overflow: auto;
}

.grid-item-info p {
    font-size: 21px;
    text-align: center;
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    background-color: white;
}

.grid-container .grid-item-skills {
    grid-area: skills;
    overflow: auto;
}

.one {
    text-align: center;
}

.grid-item-skills p {
    font-size: 20px;
    margin: 2%;
    margin-top: 3%;
    border-radius: 5px;
    background-color: white;
}

@media all and (min-width: 480px) and (max-width: 800px) {
    .grid-container {
        margin: 5% 5%;
    }
    
    .grid-item-info p {
        font-size: 15px;
    }

    .grid-item-skills p {
        font-size: 17px;
    }
}

@media all and (max-width: 480px) {
    .grid-container {
        margin: 5% 5%;
    }
    
    .grid-item-info p {
        font-size: 10px;
    }

    .grid-item-skills p {
        font-size: 10px;
    }
}