<div class="grid-container">
    <div class="grid-item-picture">
        <img src="./assets/244595434_564770264609242_7417623731233400896_n.jpg" alt="">
    </div>
    <div class="grid-item-info">
        <ng-container *ngIf="(language$ | async) == 'en'">
            <p><strong>Name: </strong><span>Simeon Borislavov Rudashki</span></p>
            <p><strong>Birth: </strong><span>11.02.1990</span></p>
            <p> <strong>Town: </strong><span>Pleven</span></p>
            <p><strong>Education:</strong> <span>Bachelor , Master SA D.C Svishtov - Finance</span></p>
            <p><strong>Previous Jobs:</strong> <span><br>-2006-2013 Professional football player <br>-2013-2017
                    Management of small private business <br>-2018-2022 Commercial agent</span></p>
        </ng-container>

        <ng-container *ngIf="(language$ | async) == 'bg'">
            <p><strong>Име: </strong><span>Симеон Бориславов Рудашки</span></p>
            <p><strong>Дата на Раждане: </strong><span>11.02.1990</span></p>
            <p><strong>Град: </strong><span>Плевен</span></p>
            <p><strong>Образование:</strong> <span>Бакалавър , Магистър СА Д.А Свишов - Финанси</span></p>
            <p><strong>Стаж:</strong> <span><br>-2006-2013 Професионален футболист <br>-2013-2017 Собствен бизнес
                    <br>-2018-2022 Търговски-представител</span></p>
        </ng-container>
    </div>
    <div class="grid-item-skills">
        <p *ngIf="(language$ | async) == 'en'" class="one"> <strong>Programming Education and Skills:</strong> <br>
            I'm studying Javascript language in Softuni. I had passed five courses.My knowledge is in
            <span>Javascript,React , React-Redux , JSX
                ,Typescript,JSON,HTML,CSS,Angular,RxJS,NoSQL,Node.js,MongoDB,Git workflows, Unit Tests Jest</span><br>
            I'm a quick learner and I'm programming with contentment.Looking forward for more experience and career in
            front-end development.I'm in search of the opportunity to start a job on the position Junior\Intern.
        </p>

        <p *ngIf="(language$ | async) == 'bg'" class="one"> <strong>Обучение и умения:</strong> <br>
            Изучавам Javascript в Softuni.Преминах 5 стъпки, имам познания в <span>Javascript,React , React-Redux , JSX
                ,Typescript,JSON,HTML,CSS,Angular,RxJS,NoSQL,Node.js,MongoDB,Git workflows , Unit Tests Jest</span> <br>
            Уча сравнително бързо и програмирам с удоволствие.Справям се добре в екип.Имам желание за повече опит и
            кариера в Front-end development.Търся възможност за работа на стартираща позиция или стаж.
        </p>
    </div>
</div>